/* checkbox */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--pb);
  border-color: var(--pb);
}

/* 对话框 */
.ant-modal-content {
  border-radius: 0px;
}

.ant-modal-confirm-body > .anticon + .ant-modal-confirm-title + .ant-modal-confirm-content {
  margin: 0px;
  margin-top: 20px;
}

.ant-modal-confirm-warning .ant-modal-confirm-body > .anticon,
.ant-modal-confirm-confirm .ant-modal-confirm-body > .anticon {
  color: var(--gg);
}

.ant-modal-header {
  border-bottom: unset;
  background-color: unset;
}

.ant-modal-footer {
  border-top: unset;
}

.ant-modal-body {
  padding-top: 10px;
}

*/
/* 按钮 */
.ant-btn.ant-btn-link {
  color: var(--pd);
}

.ant-btn-sm {
  border-radius: unset;
}

/* input */

.ant-input {
  border-radius: 0px;
}

.ant-input::input-placeholder {
  color: #464646;
}

.ant-input:focus {
  border: 1px solid #d9d9d9;
  box-shadow: none;
}

.ant-input:hover {
  border: 1px solid #d9d9d9;
  box-shadow: none;
}

/* input addon */

.ant-input-group-addon {
  border-radius: 0px;
}

/* slider */

.ant-slider-handle {
  border-color: var(--pb);
  border-radius: unset;
}

.ant-slider-handle:focus {
  border-color: var(--pd);
}

.ant-slider-track {
  background-color: #686868;
}

.ant-slider:hover .ant-slider-track {
  background-color: var(--pd);
}

.ant-slider-handle.ant-tooltip-open {
  border-color: var(--pd);
}

/* tooltips */

.ant-tooltip-inner {
  border-radius: unset;
}

.ant-modal-mask {
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(231, 231, 231, 0.226);
}

.dplayer-menu.dplayer-menu-show {
  display: none;
}

.dplayer-controller .dplayer-icons .dplayer-setting .dplayer-setting-box {
  backdrop-filter: saturate(180%) blur(20px);
  background: #6d6d6d3a;
  border-radius: unset;
}

[data-balloon]:after {
  backdrop-filter: saturate(180%) blur(20px);
  background: #6d6d6d3a;
  border-radius: unset;
}

.ant-drawer-content {
  backdrop-filter: saturate(180%) blur(20px);
  background: rgba(255, 255, 255, 0.226);
}

.ant-menu {
  background-color: unset;
  color: #000;
}

.ant-menu-submenu > .ant-menu {
  background-color: unset;
}

.ant-input-group > .ant-input:first-child,
.ant-input-group-addon:first-child {
  background: rgba(255, 255, 255, 0.226);
}

.dplayer-notice {
  backdrop-filter: saturate(180%) blur(20px);
  background: #6d6d6d3a;
}

.dplayer-controller .dplayer-bar-wrap .dplayer-bar .dplayer-played .dplayer-thumb {
  border-radius: unset;
}

.dplayer-controller .dplayer-bar-wrap .dplayer-bar .dplayer-loaded,
.dplayer-controller .dplayer-bar-wrap .dplayer-bar .dplayer-played {
  height: 4px;
}

.ant-notification-notice-message {
  font: 15px;
}

.ant-notification-notice-description {
  font-size: 11px;
}

.ant-notification-notice.ant-notification-notice-closable {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(230, 230, 230, 0.3);
}

.ant-notification-notice {
  border-radius: unset;
  box-shadow: unset;
}

.ant-notification {
  width: 265px;
  z-index: 100001;
}
/**=================================================================================================
 *			LASTMODIFY --- 2020-02-19T12:16:42.797Z
 *=================================================================================================*/

.ant-select-auto-complete.ant-select .ant-input {
  height: 34px;
  font-size: 16px;
  border-width: 0px;
  background-color: #d9d9d9;
  border-radius: 0px;
}

.ant-select-auto-complete.ant-select .ant-input:focus,
.ant-select-auto-complete.ant-select .ant-input:hover {
  border-color: unset;
  border-right-width: 0px !important;
}

.ant-select-dropdown {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(230, 230, 230, 0.3);
  box-shadow: unset;
  -webkit-box-shadow: unset;
  border-radius: 0px;
}

.ant-select-dropdown-menu-item {
  padding: 10px 12px;
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #e2e0ff;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #e2e0ff;
}

.ant-select-dropdown-menu-item:first-child {
  border-radius: 0px;
}

.ant-select-auto-complete.ant-select .ant-select-selection--single {
  background-color: transparent;
}

.ant-drawer-mask {
  background-color: unset;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: unset;
}
