li {
  list-style: none;
}

.nav .ant-col.ant-col-6 {
  margin-bottom: 4px;
}

.nav * {
  color: #242424;
}

.full-box {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 400;
}

button {
  border: none;
}

.clean-float:after {
  clear: both;
}
