.button-down {
  position: relative;
  transition: transform 100ms ease-in;
  display: inline-flex;
  align-items: center;
}

.button-down:hover {
}

.button-down:active {
  transform: translateY(4px);
}
