.home-button {
  position: relative;
  width: 42px;
  height: 42px;
  background-color: var(--pb);
  box-shadow: 1px 1px 8px var(--pl);
}

.home-button::before {
  background-image: radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, var(--pd) 20%, transparent 30%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--pd) 15%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%);
}

.home-button::after {
  background-image: radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, var(--pd) 15%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%),
    radial-gradient(circle, var(--pd) 20%, transparent 20%);
}

.home-button:active {
  background-color: var(--pl);
  box-shadow: 0 2px 25px var(--pl);
}
